@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252, 11%, 9%;
    --primary: 152, 63%, 40%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
  }
}
